doctype html
html
	head
		title Amaris Website
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="description" content="Amaris")
		meta(name="keywords" content="")
		meta(name="author" content="Amaris")
		link(rel="shortcut icon" href="./favicon.ico")
		//- CSS Vendor
		link(rel="stylesheet", href="./vendor/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet", href="./vendor/bootstrap/css/bootstrap-theme.min.css")
		link(rel="stylesheet", href="./vendor/font-awesome/css/font-awesome.min.css")
		//- CSS Style
		link(rel="stylesheet", href="./css/bundle.css")
		//- Font
		link(rel="stylesheet", href="./font/museo/font.css")
		link(rel="stylesheet", href="./font/segoeui/font.css")
		//- New font PT_Sans
		link(rel="stylesheet", href="./font/PT_Sans/PT_Sans-Web-Bold/font.css")
		link(rel="stylesheet", href="./font/PT_Sans/PT_Sans-Web-BoldItalic/font.css")
		link(rel="stylesheet", href="./font/PT_Sans/PT_Sans-Web-Italic/font.css")
		link(rel="stylesheet", href="./font/PT_Sans/PT_Sans-Web-Regular/font.css")
		//- New font OpenSans
		link(rel="stylesheet", href="./font/OpenSans/OpenSans-Bold/font.css")
		link(rel="stylesheet", href="./font/OpenSans/OpenSans-BoldItalic/font.css")
		link(rel="stylesheet", href="./font/OpenSans/OpenSans-ExtraBold/font.css")
		link(rel="stylesheet", href="./font/OpenSans/OpenSans-ExtraBoldItalic/font.css")
		link(rel="stylesheet", href="./font/OpenSans/OpenSans-Italic/font.css")
		link(rel="stylesheet", href="./font/OpenSans/OpenSans-Light/font.css")
		link(rel="stylesheet", href="./font/OpenSans/OpenSans-LightItalic/font.css")
		link(rel="stylesheet", href="./font/OpenSans/OpenSans-Regular/font.css")
		link(rel="stylesheet", href="./font/OpenSans/OpenSans-Semibold/font.css")
		link(rel="stylesheet", href="./font/OpenSans/OpenSans-SemiboldItalic/font.css")
	body
		block header
		block body
		block footer
		block script