doctype html
html
  head
    meta(charset="UTF-8")
    title Webpack App
  body
    script(type="text/javascript" src="./manifest.bundle.js")
    script(type="text/javascript" src="./modules.bundle.js")
    script(type="text/javascript" src="./maxta_ui_kit.bundle.js")